{{ $pcblayers := slice "F_Cu" "B_Cu" "F_Mask" "B_Mask" "F_SilkS" "B_SilkS" }}

<div class="columns is-multiline is-centered my-6">
    {{ if isset $.Page.Params "schema" }}
    <div class="column is-3 has-text-centered">
        <div class="icon callout-icon mt-6">
            <i class="fas fa-file-download fa-4x"></i>
        </div>
        <p class="subtitle mt-3">schema</p>
        {{ range $key, $value := $.Page.Params.schema }}
          <span class="spotlight" data-src="{{ $.Site.BaseURL }}/{{ strings.TrimPrefix "../../content/" $value }}" data-fit="contain">
            <a href="{{ $.Site.BaseURL }}/{{ strings.TrimPrefix "content/" $value }}" class="button is-light">
                {{ $key }}
            </a>
          </span>
        {{ end }}
    </div>
    {{ end }}
    {{ if isset $.Page.Params "pcb" }}
    <div class="column is-3 has-text-centered">
        <div class="icon callout-icon mt-6">
            <i class="fas fa-code-branch fa-4x"></i>
        </div>
        <p class="subtitle mt-3">PCB</p>
        {{ range $pcb := $.Page.Params.pcb }}
        {{ with $pcb  }}
          <span class="spotlight" data-media="node" data-src="#fragment-{{ $pcb.name }}" data-fit="contain">
            <a data-media="node" data-src="#fragment-{{ $pcb.name }}" class="button is-light">
                {{ $pcb.name }}
            </a>
          </span>

          <div style="width: 100%; height: 100%; display: none;">
            <section class="hero is-fullheight" id="fragment-{{ $pcb.name }}">
              <div class="hero-body is-fullheight">
                <div style="width: 100%;" class="columns is-fullheight">
                  <div class="column is-four-fifths has-text-right">
                        <object data="{{ $.Site.BaseURL }}/{{ strings.TrimPrefix "../../content/" .file }}" width="auto" height="800px" id="pcb_{{ $pcb.name }}"> </object>
                  </div>
                  <div class="column">
                      <h1 class="subtitle is-5 has-text-black">PCB Layers:</h1>
                      {{ range .layers }}
                        <input type="checkbox" name="{{ $pcb.name }}{{ replace . "." "_" }}" value="{{ $pcb.name }}_{{ replace . "." "_" }}" id="check_{{ $pcb.name }}-{{ replace . "." "_" }}" checked></input>
                        <label class="has-text-black" for="check_{{ $pcb.name }}-{{ replace . "." "_" }}">{{ . }}</label>
                        <br/>
                      {{ end }}
                  </div>
                </div>
              </div>
                <script type="text/javascript">
                {{ range $pcb.layers }}
                  d3.select("#check_{{ $pcb.name | safeJS }}-{{ replace . "." "_" | safeJS }}").on("input", function(event) {
                      var svgObject = document.getElementById('pcb_{{ $pcb.name }}');
                      var svgDoc = svgObject.contentDocument;
                      if (svgDoc) {
                        var graphics = svgDoc.getElementsByClassName('{{ $pcb.name }}_{{ replace . "." "_" }}');

                        for (var i = 0; i < graphics.length; i++) {
                                console.log("G");
                          var graphic = graphics[i];
                          if (graphic.style.display === 'none') {
                            graphic.style.display = 'inline';
                          } else {
                            graphic.style.display = 'none';
                          }
                        }
                      }
                  });
                {{ end }}
                </script>
              </section>
          </div>
        {{ end }}
        {{ end }}
    </div>
    {{ end }}
    {{ if isset $.Page.Params "gerber" }}
    <div class="column is-3 has-text-centered">
        <div class="icon callout-icon mt-6">
            <i class="fas fa-industry fa-4x"></i>
        </div>
        <p class="subtitle mt-3">Gerber</p>
        {{ range $key, $value := $.Page.Params.gerber }}
            <a href="{{ $.Site.BaseURL }}/{{ strings.TrimPrefix "../../content/" $value }}" class="button is-light">
                {{ $key }}
            </a>
        {{ end }}

    </div>
    {{ end }}
</div>
